<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
    <ul>
    {% for key, value in data.items() %}
        <li>
            <h2>{{ key }}</h2>
            <ul>
            {% for item_key, item_value in value.items() %}
                <li>
                    <form action="/admin_action" method="post">
                        <label for="key">{{ item_key }}:</label>
						<!-- <label type="hidden" name="action" value="Update"> -->
                        <input type="text" id="key" name="key" value="{{ item_key }}" readonly>
                        <input type="text" id="value" name="value" value="{{ item_value }}">
                        <input type="submit" name="action" value="Update">
                        <input type="submit" name="action" value="Delete">
                    </form>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
